{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'songchord/styles.css' %}" />
<link href="css/bootstrap.min.css" rel="stylesheet">


<!DOCTYPE HTML>
<html>
<head>
	<title>Welcome</title>
</head>	
<body id="intropage">
	<form action = "/songchord/search" method="get">	
		<h1 class="heading"> Welcome to Easy B#tch </h1> <br/><br/>
		<div>
			<input type="submit" value ="Start App.."/ class="startapp">
		</div>
		<div id="frontpage_img">
			<img src= "http://www.walnutst.com/i/products/ronwood_bw_webready.jpg"/>
		</div>

	</form>
	
</body>
</html>